build
dist
node_modules
tmp
data
.DS_STORE
.cache
out
*.env
*.env.local
*.env.dev
*.env.production
*.log
.terraform
terraform.plan
.netlify
cdk.out
*.pem

frontend/public/embed.js
frontend/public/embed.css