.trailStatus {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.trailStatus-isLoaded {
  opacity: 1;
}

.trailStatusInner {
  text-align: left;
  max-width: 60em;
}

.trailStatusCallout {
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

@media (max-width: 400px) {
  .trailStatusCallout {
    flex-direction: column;
  }
}

.trailStatus-isOpen .trailStatusCallout {
  color: #1e4620;
  background-color: #edf7d8;
}

.trailStatus-isOpen .trailStatusCallout a {
  color: inherit;
}

.trailStatus-isClosed .trailStatusCallout {
  color: #611a15;
  background-color: #fdecea;
}

.trailStatusInfo {
  padding: 1.25em;
  line-height: 1.35;
}

.trailStatusTimestamp {
  margin-top: 0.5em;
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.8;
}

.trailStatusImage {
  flex-shrink: 0;
  width: 4em;
  height: 4em;
  margin: 1.25em 0em 1.25em 1.25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1 !important;
  text-decoration: none !important;
  border: none !important;
}

@media (max-width: 400px) {
  .trailStatusImage {
    margin: 0.25em;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
  }
}

.trailStatus-isOpen .trailStatusImage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='%234caf50' d='M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'%3E%3C/path%3E %3C/svg%3E");
}

.trailStatus-isClosed .trailStatusImage {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cpath fill='%23f44336' d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z'%3E%3C/path%3E %3C/svg%3E");
}

.trailStatus-hasImage .trailStatusImage {
  width: 6em;
  height: 6em;
  border-radius: 3px;
}

@media (max-width: 400px) {
  .trailStatus-hasImage .trailStatusImage {
    width: 2.75em;
    height: 2.75em;
    margin: 0;
  }
}

.trailStatusCta {
  margin-top: 0.5em;
  margin-left: 1.25em;
  line-height: 1.35;
}

.trailStatusCta a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.trailStatusCta a:hover {
  text-decoration: underline;
}
